@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family : 'Poppins', sans-serif;  
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
}

/*section .imgBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255, 251, 30);
    opacity: 0.5;
    z-index: 1;
    mix-blend-mode: screen;
}*/

section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentBx{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentBx .formBx{
    width: 50%;
}

section .contentBx .formBx h2{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 0px;
    /*border-bottom: 4px solid #3b3b3b;*/
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBx .formBx h4{
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 25px;
    border-bottom: 4px solid #3b3b3b;
    display: inline-block;
}

section .contentBx .formBx .inputBx{
    margin-bottom: 20px;
}

section .contentBx .formBx .inputBx input{
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    color: #607d8b;
    background: transparent;
    /*background: dodgerblue;*/
    outline: none;
    border:1px solid #607d8b;
    border-radius: 30px;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.4s ease;
}

section .contentBx .formBx .inputBx #registrar{
    background: dodgerblue;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx #registrar:hover{
    background: rgb(30, 90, 255)
}

section .contentBx .formBx .inputBx #facebook{
    background: #445c8f;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx #facebook:hover{
    background: #2f55a4;
}

section .contentBx .formBx .inputBx #instagram{
    background: #5851DB;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx #instagram:hover{
    background: #833AB4;
}

section .contentBx .formBx .inputBx #tiktok{
    background: #010101;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentBx .formBx .inputBx #tiktok:hover{
    background: #EE1D52;
}

.btnbox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #fff;
    margin: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
}
.icon:hover{
    width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-size: 15px;
}
.icon:hover i{
    color: #fff;
}

.icon .fa-facebook-f{
    color: #1A6ED8;
}

.fb:hover{
    background: #1A6ED8;
}

.icon .fa-instagram{
    color: #5851DB;
}

.ins:hover{
    background: #833AB4;
}

.icon .fa-tiktok{
    color: #010101;
}

.tkt:hover{
    background: #EE1D52;
}

@media (max-width: 768px){
    section .imgBx{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    section .contentBx{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    section{
        padding-top: 325px;
    }

    section .contentBx .formBx h2{
        display: none;
    }

    section .contentBx .formBx h4{
        display: none;
    }

    section .contentBx .formBx{
        width: 100%;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
        background: rgba(247, 221, 75, 0.4);
        margin: 50px;
        border-radius: 20px;
    }
}